<form action="/login" method="POST">
    <label for="username">username</label>
    <input type="text" class="form-control" name="username" placeholder="username" autofocus="true">
    <label for="password">password</label>
    <input type="password" class="form-control" name="password" placeholder="password">
    <button type="submit" class="btn btn-primary center">로그인</button>
    <a href="/signUp" class="btn btn-outline-primary center">회원가입</a>
</form>

<p>{{{ message }}}</p>