<link rel="stylesheet" href="/css/diaryList.css">

<form action="/delete/{{ result.id }}" method="POST">
<table class="table table-bordered">
    <thead>
        <tr>
            <td class="text-center" id="Number">Number</td>
            <td class="text-center" id="Title">Title</td>
            <td class="text-center" id="FK">Function Key</td>
        </tr>
    </thead>
    <tbody>
        {{#each items}}
        <tr>
            <th class="text-center"> {{ @index }}</th>
            <th class="text-center">{{ this.title }}</th>
            <th>
                <input type="button" class="btn btn-outline-info" value="Watching" onclick="location.href='journals/{{ this.id }}'">
                <button class="btn btn-info" type="submit">Delete</button>
            </th>
        </tr>
        {{/each}}
        <th colspan="3"><input type="button" class="btn btn-outline-info" value="Writing" onclick="location.href='/write'"></th>
    </tbody>
</table>
</form>