<h2>회원가입</h2>
<form action="/signUp" method="POST">
    <input type="text" name="username" placeholder="ID" autofocus="true"><br>
    <input type="password" name="password" placeholder="PASSWORD"><br><br>
    <button class="btn btn-primary" type="submit">완료</button>
</form>