<link rel="stylesheet" href="/css/signUp.css">

<div class="signUpBox">
<form action="/signUp" method="POST">
    <h2>Sign up</h2>
    <label for="username">username</label>
    <input type="text" name="username" class="form-control" autofocus="true">
    <label for="password">password</label>
    <input type="password" name="password" class="form-control"><br>
    <button class="btn btn-info" type="submit">Submit</button>
    <p>{{{ message }}}</p>
</form>
</div>