<style>
    body {
        background: url(/diary2.jpg) no-repeat;
        background-size: cover;
    }

    label {
        color: black;
        font-weight: bold;
        font-size: 30px;
        border-bottom: 6px solid rgb(110, 58, 58);
        margin-bottom: 15px;
    }

    .writingbox {
        width: 500px;
    }

    .form-group {
        position: relative;
        left: 500px;
        top: 90px;
    }

    input {
        height: 40px;
    }

    textarea {
        height: 350px;
    }
</style>
<div class="writingbox">
    <form action="/write" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" autofocus="true">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content"></textarea><br>
            <button class="btn btn-dark" type="submit">Submit</button>
            <a class="btn btn-outline-dark" href="/diaryList" role="button">Cancel</a>
        </div>
    </form>
</div>