<link rel="stylesheet" href="/css/write.css">

<div class="writingbox">
    <form action="/write" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" autofocus="true">
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" name="content"></textarea><br>
            <button class="btn btn-outline-info" type="submit">Submit</button>
            <a class="btn btn-outline-info" href="/diaryList" role="button">Cancel</a>
        </div>
    </form>
</div>