<form action="/write" method="POST">
<div class="form-group">
    <label for="title">제목</label>
    <input type="text" class="form-control" placeholder="제목" name="title">
</div>
<div class="form-group">
    <label for="content">본문</label>
    <textarea class="form-control" placeholder="본문" name="content" style="white-space: pre-line;"></textarea>
</div>
<button class="btn btn-primary" type="submit">완료</button>
</form>